<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>game</title>
    <script th:src="@{/js/phaser.min.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
    <script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
    <!--参数-->
    <script>
        //sys
        var sys_scheme = '[[${#httpServletRequest.getScheme()}]]';
        var sys_serverName = '[[${#httpServletRequest.getServerName()}]]';
        var sys_serverPort = '[[${#httpServletRequest.getServerPort()}]]';
        var sys_contextPath = '[[${#httpServletRequest.getContextPath()}]]';
        var ws_basePath = 'ws://' + sys_serverName + ":" + sys_serverPort + sys_contextPath;
        var http_basePath = sys_scheme + '://' + sys_serverName + ":" + sys_serverPort + sys_contextPath;
        //ws
        var connect = sys_contextPath + '[[${connect}]]';
        var subM = '[[${subM}]]';
        var mappingM = '[[${mappingM}]]';
        var sub1 = '[[${sub1}]]';
        var mapping1 = '[[${mapping1}]]';
        //phaser
        var sprite1_url = '[[@{/res/sprite1.png}]]';
    </script>
    <script th:src="@{/js/websocketSTOMP.js}"></script>
    <script th:src="@{/js/object.js}"></script>
    <script th:src="@{/js/state1.js}"></script>

    <script>
        var myWebSocket = new MyWebSocket();
        var game = new Phaser.Game(200, 200, Phaser.CANVAS, 'div_phaser');
        var playerMap = {};

        var addSprite = function (playerId) {
            this.sprite = game.add.sprite(10, 10, 'sprite');
            playerMap.put
        }

        var state1 = function () {
            this.sprite;
            this.upKey;
            this.downKey;
            this.leftKey;
            this.rightKey;
            this.speed = 2;

            this.init = function () {
                game.stage.setBackgroundColor(0xfffff1);	//设置舞台颜色
            };
            this.preload = function () {
                game.load.spritesheet('sprite', sprite1_url);	//加载精灵图
            };
            this.create = function () {
                //创建精灵
                this.sprite = game.add.sprite(10, 10, 'sprite');
                //按键
                this.upKey = game.input.keyboard.addKey(Phaser.Keyboard.W);
                this.downKey = game.input.keyboard.addKey(Phaser.Keyboard.S);
                this.leftKey = game.input.keyboard.addKey(Phaser.Keyboard.A);
                this.rightKey = game.input.keyboard.addKey(Phaser.Keyboard.D);
            };
            this.update = function () {
                if (this.upKey.isDown) {
                    this.sprite.y -= this.speed;
                    objMsg.direction = 'up';
                    myWebSocket.sendMsg(objMsg);
                } else if (this.downKey.isDown) {
                    this.sprite.y += this.speed;
                    objMsg.direction = 'down';
                    myWebSocket.sendMsg(objMsg);
                }
                if (this.leftKey.isDown) {
                    this.sprite.x -= this.speed;
                    objMsg.direction = 'left';
                    myWebSocket.sendMsg(objMsg);
                } else if (this.rightKey.isDown) {
                    objMsg.direction = 'right';
                    myWebSocket.sendMsg(objMsg);
                    this.sprite.x += this.speed;
                }
            };
        }

        game.state.add('state1', state1);
        game.state.start('state1');

        //接收方法
        var receiveFunc = function (data) {
            console.info(data.body);
        }

        $(function () {
            myWebSocket.receiveMsg = receiveFunc;
            myWebSocket.connect();
        });
    </script>
</head>
<body>
<div id="div_phaser"></div>
</body>
</html>